body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.banner {
    font-size: 1.2em;  /* Μέγεθος γραμματοσειράς */
    color: white;  /* Χρώμα κειμένου */
    background-color: rgba(0, 0, 0, 0.5);  /* Διαφανές μαύρο φόντο */
    padding: 20px;  /* Εσωτερικό περιθώριο */
    width: 100%;  /* Πλάτος 100% της σελίδας */
    text-align: center;  /* Κεντράρισμα του κειμένου */
    position: absolute;  /* Τοποθέτηση απόλυτα στην κορυφή */
    top: 0;
    left: 0;
}


header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

main {
    padding: 20px;
}

button {
    background-color: #28a745;
    color: blue;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 20px;
}
